._ul
{
	padding-left:37px !important;
}
._li
{
  font-weight:normal !important;
  font-size: 100% !important;
}

._li_1
{
	left: 9px !important;
  font-weight:normal !important;
  font-size: 100% !important;
}