.resume_container {
    position: absolute;
    width:100%; 
    height:100%;
}

.preloaderDisplayresume {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 1;
    z-index: 10001;
 
}

.resume_content_container{
    background-color:#fff; 
    border-radius: 5px;   
    width: 400px;    
    height: 167px;  
    border-radius: 10px;  
    z-index: 10003;    
    position: absolute;left:0;right:0;top:0;bottom:0;margin:auto;padding: 3%;
}

.resume_content_header{
    background-color:#e1251b; 
    position: absolute;    
    left: 0px; 
    height: 35px; 
    border-radius: 10px 10px 0px 0px; 
    padding: 5px;  top: 0px;    
    color: #fff;    
    font-weight: bold;    
    font-size: 18px;    
    text-align: center;    
    width: 100%;
}

.resume_content_text{
    font-weight:bold;
    text-align: center; 
    margin-top: 9px; 
    font-size:21px; 
    margin-bottom: 10px;
}

.yes-btn{
    background-color: #e1251b;
    color:white; 
    border: none;
}

.no-btn{
    background-color: #e1251b;
    color:white; 
    border: none;
}