._ul
{
  padding-left:16px !important;
}
._li
{
  font-weight:normal !important;
  font-size: 100% !important;
}

._li_1
{
	left: 0 !important;
  font-weight:normal !important;
  font-size: 100% !important;
}